.recent{
    img{
        max-width: 100%;
    }
}
.blogimage{
    img{
        max-width: 100%;
    }
   
}
.round{
    border-radius: 10px;
}

.fonts{
   color:#93691F;
   
}
.fonts a{
    text-decoration: none;
    color:#93691F;
 }
 .hrabout{
     border: 2px solid black;
 }


.pagination{
    .page-link{
            background-color:white;
            color: #93691F;
            border: 1px solid #93691E;
        }
}
.page-link:hover{
               background-color:#93691F;
                color: white;
                border: none;
    
          }
      
  .page-item:not(:first-child) .page-link {
     margin-left: 1px; 
}
.list-group-item {
    background-color: transparent;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    box-shadow: none;
}
