.categoryimage{
	img{
			max-width: 100%;
		}
}

.awsomering_section, .banner_section {

    img{
        max-width: 100% ;

    }
}

.ringitem{
 color:#93691F;
}

.ringitem1{
	color:#1063AF;
   }
   

.gift_section {
	.giftfont {
		position: absolute;
		top: 40%;
        left: 25%;
	}
	.giftfont1 {
		position: absolute;
		top: 40%;
		right: 27%;
	}
}

.form-select:focus {
    border-color:white;
    outline: 0;
    box-shadow: none;
}

// MEDIA QUERY
  // Small devices (landscape phones, 576px and up)

 
  @media only screen and  (max-width: 576px) { 
	.gift_section {
		.giftfont {
			position: absolute;
			top: 20%;
			left: 20%;
		}
		.giftfont1 {
			position: absolute;
			top: 63%;
			right: 20%;
		}
	}
	 }
	
	// Medium devices (tablets, 768px and up)
	@media only screen and (min-width: 768px) {
		.gift_section {
			.giftfont {
				position: absolute;
				top: 35%;
    			left: 10%;
			}
			.giftfont1 {
				position: absolute;
				top: 35%;
				right: 10%;
			}
		}
	  }
	
	// Large devices (desktops, 992px and up)
	@media only screen and  (min-width: 992px) { 
		.gift_section {
			.giftfont {
				position: absolute;
				top: 37%;
    			left: 15%;
			}
			.giftfont1 {
				position: absolute;
				top: 37%;
				right: 15%;
			}
		}
	 }
	
	// X-Large devices (large desktops, 1200px and up)
	@media only screen and (min-width: 1200px) {
		.gift_section {
			.giftfont {
				position: absolute;
				top: 40%;
    			left: 25%;
			}
			.giftfont1 {
				position: absolute;
				top: 40%;
				right: 27%;
			}
		}
	 }
	
	// XX-Large devices (larger desktops, 1400px and up)
	// @media (max-width: 1400px) { 
	
	// 		.gift_section {
	// 			.giftfont {
	// 				position: absolute;
	// 				top: 40%;
    // 				left: 25%;
	// 			}
	// 			.giftfont1 {
	// 				position: absolute;
	// 				top: 40%;
	// 				right: 25%;
	// 			}
	// 		}
		
	 
	//  }
