.subtitle_font{
    font-size: 24px !important;
  }
  .heading_font{
    font-size: 28px !important;
  
  }
  .subprice_font{
      font-size: 22px !important;
  }

  .subprice_font1{
    font-size: 18px !important;

  }
  .subprice2{
    font-size: 16px !important;
  }
  
  .subprice_font2{
    font-size: 14px !important;

  }
  .subprice3{
    font-size: 12px !important;
  }
  