// HEADER SECTION



.header{

    .top_header{
        background-color: #f2f2f2;
        // position: relative;
        p{
    
                margin-top: 0;
                margin-bottom: 0;
                font-size: 10px;
                padding: 9px;
           
        }
      }
    .contact_details{
      span{
        font-size: 18px !important;
        margin-right:20px ;
      }
    }
    .contact_details{
      .logosanti{
        width: 54%;
      }
    }
    .navbar_bottom{
      background:#dcdcdc;
    }
    // .triangle-5 {
    //   width: 60px;
    //   height: 30px;
    //   border-top: solid 43px rgb(255, 255, 255);
    //   border-left: solid 56px transparent;
    //   border-right: solid 56px transparent;
    
    // }
    // .squareline{
    //   width: 85%;
    //   // height: 45px;
    // }
    .navigation_bar{
      li{
        font-size: 18px !important;
      }
    }
    }


    /*****-------------------------------footer---------------------------***********/
    .headertext ul li a{
      text-decoration:none;
      color: black;
      line-height: 30px;
      font-weight:500;
    }
    .fontp{
      font-weight:500;
    }
    .serch1{
      border-color: #93691F;
  }
//    .serch1:focus{
//     border-color: #93691F;
// }
    .tpn{
      margin-left: -1px; 
    }
    .npm{
      margin-right: -1px; 
    }
    .form-control:focus{
      color: #212529;
      background-color: #fff;
      border-color: #93691F;
      outline: 0;
      box-shadow: none;
  }