
.iconheader{
  font-size: 24px !important;
}
// SWIPER MAIN SECTION
.swiper_main{
    // position:relative;
    img{
        width: 100%;
        height: auto;
      border-radius: 10px;
    }
    .everyday{
      position: absolute;
      top: 2%;
      left: 44%;
    }
    // .card{
    //   padding: 17%;
    //   width: 114%;    
    // }
    h5{
      font-size: 25px !important;
    }
    h1{
      font-size: 60px !important;
      font-weight: 400;

    }
    .card{
      width: 77% ;
    }
    
}


.jwellery, .testimonial_section{
  img{
    width: 100%;
  
  }
}
// TESTIMONIALS SECTION
.testimonial_section{
  p{
    font-size: 15px;
  }
  .testiceo{
    width: 25% !important;
  }
  }



// GIFT SECTION
.gift_section{
position: relative;
.giftfont{
  position:absolute;
  top:67%;
  left:26%;
}
.giftfont1{
  position:absolute;
  top:67%; 
  right:26%;

}
}
// THUMBHNAIL SECTION

// LOOK SECTION
.look_section{
img{
  width: 100%;
}
.anylook{
  // padding: 70px !important;
  background-color: #01173E;
  padding: 87px !important;
}
}
// WELCOME SECTION
.welcome_section{
  .welcome_img{ 
    background-image: url('../image/banner3.png');
background-size: cover;
background-repeat: no-repeat;
padding: 100px;
  }
  p{
    font-size: 24px !important;
  }
  }


// SHOP BY STYLE
.shop_by_style{
  .styleimg{
    img{
      width: 60%;

    }
    
  }
}

// SERVICE SECTION
.service_section{
  .serviceicon{
      width: 52px;
      height:52px;
      background-color: #fffcfbd8;
      border-radius: 50%;
  }
} 

.sectionJEWLLARY{
     position:relative;
}
.earrings{
   position:absolute;
   top: 80%;
   right: 79%;
}
.earrings1{
  position:absolute;
   top: 80%;
   right: 45%;
}
.earrings2{
  position:absolute;
  top: 80%;
  right: 13%;
}
.dia-round{
  width: 90px;
  height: 90px;
  background-color: #f64d14d8;
  border-radius: 10%;
}