.header .top_header {
  background-color: #f2f2f2;
}

.header .top_header p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 10px;
  padding: 9px;
}

.header .contact_details span {
  font-size: 18px !important;
  margin-right: 20px;
}

.header .contact_details .logosanti {
  width: 54%;
}

.header .navbar_bottom {
  background: #dcdcdc;
}

.header .navigation_bar li {
  font-size: 18px !important;
}

/*****-------------------------------footer---------------------------***********/
.headertext ul li a {
  text-decoration: none;
  color: black;
  line-height: 30px;
  font-weight: 500;
}

.fontp {
  font-weight: 500;
}

.serch1 {
  border-color: #93691F;
}

.tpn {
  margin-left: -1px;
}

.npm {
  margin-right: -1px;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #93691F;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.iconheader {
  font-size: 24px !important;
}

.swiper_main img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.swiper_main .everyday {
  position: absolute;
  top: 2%;
  left: 44%;
}

.swiper_main h5 {
  font-size: 25px !important;
}

.swiper_main h1 {
  font-size: 60px !important;
  font-weight: 400;
}

.swiper_main .card {
  width: 77%;
}

.jwellery img, .testimonial_section img {
  width: 100%;
}

.testimonial_section p {
  font-size: 15px;
}

.testimonial_section .testiceo {
  width: 25% !important;
}

.gift_section {
  position: relative;
}

.gift_section .giftfont {
  position: absolute;
  top: 67%;
  left: 26%;
}

.gift_section .giftfont1 {
  position: absolute;
  top: 67%;
  right: 26%;
}

.look_section img {
  width: 100%;
}

.look_section .anylook {
  background-color: #01173E;
  padding: 87px !important;
}

.welcome_section .welcome_img {
  background-image: url("../image/banner3.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
}

.welcome_section p {
  font-size: 24px !important;
}

.shop_by_style .styleimg img {
  width: 60%;
}

.service_section .serviceicon {
  width: 52px;
  height: 52px;
  background-color: #fffcfbd8;
  border-radius: 50%;
}

.sectionJEWLLARY {
  position: relative;
}

.earrings {
  position: absolute;
  top: 80%;
  right: 79%;
}

.earrings1 {
  position: absolute;
  top: 80%;
  right: 45%;
}

.earrings2 {
  position: absolute;
  top: 80%;
  right: 13%;
}

.dia-round {
  width: 90px;
  height: 90px;
  background-color: #f64d14d8;
  border-radius: 10%;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.75rem;
          column-gap: 0.75rem;
  padding: 1rem 1.25rem;
  border-radius: 1rem;
}

.rating__stars {
  position: relative;
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.rating__stars:before {
  content: url("data:image/svg+xml,%3Csvg width='116' height='20' viewBox='0 0 116 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.14319 1.42372C9.53185 0.777902 10.4681 0.777901 10.8568 1.42372L13.0731 5.10651C13.2128 5.33853 13.4405 5.504 13.7043 5.56509L17.8918 6.53491C18.6261 6.70498 18.9154 7.59545 18.4213 8.16466L15.6036 11.4106C15.4261 11.6151 15.3391 11.8828 15.3625 12.1526L15.7342 16.4347C15.7994 17.1857 15.0419 17.736 14.3478 17.442L10.3901 15.7653C10.1408 15.6596 9.85924 15.6596 9.60991 15.7653L5.65216 17.442C4.95813 17.736 4.20065 17.1857 4.26582 16.4347L4.63745 12.1526C4.66087 11.8828 4.57387 11.6151 4.39637 11.4106L1.57871 8.16466C1.0846 7.59545 1.37393 6.70498 2.10824 6.53491L6.29567 5.56509C6.55948 5.504 6.78723 5.33853 6.92685 5.10652L9.14319 1.42372Z' fill='%23E3E0E0'/%3E%3Cpath d='M33.1432 1.42372C33.5319 0.777902 34.4681 0.777901 34.8568 1.42372L37.0731 5.10651C37.2128 5.33853 37.4405 5.504 37.7043 5.56509L41.8918 6.53491C42.6261 6.70498 42.9154 7.59545 42.4213 8.16466L39.6036 11.4106C39.4261 11.6151 39.3391 11.8828 39.3625 12.1526L39.7342 16.4347C39.7994 17.1857 39.0419 17.736 38.3478 17.442L34.3901 15.7653C34.1408 15.6596 33.8592 15.6596 33.6099 15.7653L29.6522 17.442C28.9581 17.736 28.2006 17.1857 28.2658 16.4347L28.6375 12.1526C28.6609 11.8828 28.5739 11.6151 28.3964 11.4106L25.5787 8.16466C25.0846 7.59545 25.3739 6.70498 26.1082 6.53491L30.2957 5.56509C30.5595 5.504 30.7872 5.33853 30.9269 5.10652L33.1432 1.42372Z' fill='%23E3E0E0'/%3E%3Cpath d='M57.1432 1.42372C57.5319 0.777902 58.4681 0.777901 58.8568 1.42372L61.0731 5.10651C61.2128 5.33853 61.4405 5.504 61.7043 5.56509L65.8918 6.53491C66.6261 6.70498 66.9154 7.59545 66.4213 8.16466L63.6036 11.4106C63.4261 11.6151 63.3391 11.8828 63.3625 12.1526L63.7342 16.4347C63.7994 17.1857 63.0419 17.736 62.3478 17.442L58.3901 15.7653C58.1408 15.6596 57.8592 15.6596 57.6099 15.7653L53.6522 17.442C52.9581 17.736 52.2006 17.1857 52.2658 16.4347L52.6375 12.1526C52.6609 11.8828 52.5739 11.6151 52.3964 11.4106L49.5787 8.16466C49.0846 7.59545 49.3739 6.70498 50.1082 6.53491L54.2957 5.56509C54.5595 5.504 54.7872 5.33853 54.9269 5.10652L57.1432 1.42372Z' fill='%23E3E0E0'/%3E%3Cpath d='M81.1432 1.42372C81.5319 0.777902 82.4681 0.777901 82.8568 1.42372L85.0731 5.10651C85.2128 5.33853 85.4405 5.504 85.7043 5.56509L89.8918 6.53491C90.6261 6.70498 90.9154 7.59545 90.4213 8.16466L87.6036 11.4106C87.4261 11.6151 87.3391 11.8828 87.3625 12.1526L87.7342 16.4347C87.7994 17.1857 87.0419 17.736 86.3478 17.442L82.3901 15.7653C82.1408 15.6596 81.8592 15.6596 81.6099 15.7653L77.6522 17.442C76.9581 17.736 76.2006 17.1857 76.2658 16.4347L76.6375 12.1526C76.6609 11.8828 76.5739 11.6151 76.3964 11.4106L73.5787 8.16466C73.0846 7.59545 73.3739 6.70498 74.1082 6.53491L78.2957 5.56509C78.5595 5.504 78.7872 5.33853 78.9269 5.10652L81.1432 1.42372Z' fill='%23E3E0E0'/%3E%3Cpath d='M105.143 1.42372C105.532 0.777902 106.468 0.777901 106.857 1.42372L109.073 5.10651C109.213 5.33853 109.441 5.504 109.704 5.56509L113.892 6.53491C114.626 6.70498 114.915 7.59545 114.421 8.16466L111.604 11.4106C111.426 11.6151 111.339 11.8828 111.363 12.1526L111.734 16.4347C111.799 17.1857 111.042 17.736 110.348 17.442L106.39 15.7653C106.141 15.6596 105.859 15.6596 105.61 15.7653L101.652 17.442C100.958 17.736 100.201 17.1857 100.266 16.4347L100.637 12.1526C100.661 11.8828 100.574 11.6151 100.396 11.4106L97.5787 8.16466C97.0846 7.59545 97.3739 6.70498 98.1082 6.53491L102.296 5.56509C102.559 5.504 102.787 5.33853 102.927 5.10652L105.143 1.42372Z' fill='%23E3E1E1'/%3E%3C/svg%3E%0A");
}

.rating__stars:after {
  content: url("data:image/svg+xml,%3Csvg width='116' height='20' viewBox='0 0 116 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.14319 1.42372C9.53185 0.777902 10.4681 0.777901 10.8568 1.42372L13.0731 5.10651C13.2128 5.33853 13.4405 5.504 13.7043 5.56509L17.8918 6.53491C18.6261 6.70498 18.9154 7.59545 18.4213 8.16466L15.6036 11.4106C15.4261 11.6151 15.3391 11.8828 15.3625 12.1526L15.7342 16.4347C15.7994 17.1857 15.0419 17.736 14.3478 17.442L10.3901 15.7653C10.1408 15.6596 9.85924 15.6596 9.60991 15.7653L5.65216 17.442C4.95813 17.736 4.20065 17.1857 4.26582 16.4347L4.63745 12.1526C4.66087 11.8828 4.57387 11.6151 4.39637 11.4106L1.57871 8.16466C1.0846 7.59545 1.37393 6.70498 2.10824 6.53491L6.29567 5.56509C6.55948 5.504 6.78723 5.33853 6.92685 5.10652L9.14319 1.42372Z' fill='%23F7C305'/%3E%3Cpath d='M33.1432 1.42372C33.5319 0.777902 34.4681 0.777901 34.8568 1.42372L37.0731 5.10651C37.2128 5.33853 37.4405 5.504 37.7043 5.56509L41.8918 6.53491C42.6261 6.70498 42.9154 7.59545 42.4213 8.16466L39.6036 11.4106C39.4261 11.6151 39.3391 11.8828 39.3625 12.1526L39.7342 16.4347C39.7994 17.1857 39.0419 17.736 38.3478 17.442L34.3901 15.7653C34.1408 15.6596 33.8592 15.6596 33.6099 15.7653L29.6522 17.442C28.9581 17.736 28.2006 17.1857 28.2658 16.4347L28.6375 12.1526C28.6609 11.8828 28.5739 11.6151 28.3964 11.4106L25.5787 8.16466C25.0846 7.59545 25.3739 6.70498 26.1082 6.53491L30.2957 5.56509C30.5595 5.504 30.7872 5.33853 30.9269 5.10652L33.1432 1.42372Z' fill='%23F7C305'/%3E%3Cpath d='M57.1432 1.42372C57.5319 0.777902 58.4681 0.777901 58.8568 1.42372L61.0731 5.10651C61.2128 5.33853 61.4405 5.504 61.7043 5.56509L65.8918 6.53491C66.6261 6.70498 66.9154 7.59545 66.4213 8.16466L63.6036 11.4106C63.4261 11.6151 63.3391 11.8828 63.3625 12.1526L63.7342 16.4347C63.7994 17.1857 63.0419 17.736 62.3478 17.442L58.3901 15.7653C58.1408 15.6596 57.8592 15.6596 57.6099 15.7653L53.6522 17.442C52.9581 17.736 52.2006 17.1857 52.2658 16.4347L52.6375 12.1526C52.6609 11.8828 52.5739 11.6151 52.3964 11.4106L49.5787 8.16466C49.0846 7.59545 49.3739 6.70498 50.1082 6.53491L54.2957 5.56509C54.5595 5.504 54.7872 5.33853 54.9269 5.10652L57.1432 1.42372Z' fill='%23F7C305'/%3E%3Cpath d='M81.1432 1.42372C81.5319 0.777902 82.4681 0.777901 82.8568 1.42372L85.0731 5.10651C85.2128 5.33853 85.4405 5.504 85.7043 5.56509L89.8918 6.53491C90.6261 6.70498 90.9154 7.59545 90.4213 8.16466L87.6036 11.4106C87.4261 11.6151 87.3391 11.8828 87.3625 12.1526L87.7342 16.4347C87.7994 17.1857 87.0419 17.736 86.3478 17.442L82.3901 15.7653C82.1408 15.6596 81.8592 15.6596 81.6099 15.7653L77.6522 17.442C76.9581 17.736 76.2006 17.1857 76.2658 16.4347L76.6375 12.1526C76.6609 11.8828 76.5739 11.6151 76.3964 11.4106L73.5787 8.16466C73.0846 7.59545 73.3739 6.70498 74.1082 6.53491L78.2957 5.56509C78.5595 5.504 78.7872 5.33853 78.9269 5.10652L81.1432 1.42372Z' fill='%23F7C305'/%3E%3Cpath d='M105.143 1.42372C105.532 0.777902 106.468 0.777901 106.857 1.42372L109.073 5.10651C109.213 5.33853 109.441 5.504 109.704 5.56509L113.892 6.53491C114.626 6.70498 114.915 7.59545 114.421 8.16466L111.604 11.4106C111.426 11.6151 111.339 11.8828 111.363 12.1526L111.734 16.4347C111.799 17.1857 111.042 17.736 110.348 17.442L106.39 15.7653C106.141 15.6596 105.859 15.6596 105.61 15.7653L101.652 17.442C100.958 17.736 100.201 17.1857 100.266 16.4347L100.637 12.1526C100.661 11.8828 100.574 11.6151 100.396 11.4106L97.5787 8.16466C97.0846 7.59545 97.3739 6.70498 98.1082 6.53491L102.296 5.56509C102.559 5.504 102.787 5.33853 102.927 5.10652L105.143 1.42372Z' fill='%23F7C305'/%3E%3C/svg%3E%0A");
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% / 5 * var(--rating));
  overflow: hidden;
}

.rating__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.75rem;
          column-gap: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
}

.product_section {
  position: relative;
}

.product_section .productcover {
  background-image: url("../image/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}

.product_section .productcover .product {
  background-color: rgba(255, 255, 255, 0.705);
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 64px !important;
}

.thumbnail_section .round_circle {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.box {
  max-width: 1000px;
  margin: 40px auto;
}

.tab-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

/* tab list */
.tab-list::before {
  content: '';
  height: 2px;
  width: 250px;
  position: absolute;
  bottom: 0;
  background-color: #aaa;
  -webkit-transition: .3s;
  transition: .3s;
}

.tab-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0.5;
}

.tab-toggle {
  display: none;
}

.tab-content {
  display: none;
}

.tab-toggle:nth-child(1):checked ~ .tab-list .tab-item:nth-child(1),
.tab-toggle:nth-child(2):checked ~ .tab-list .tab-item:nth-child(2),
.tab-toggle:nth-child(3):checked ~ .tab-list .tab-item:nth-child(3),
.tab-toggle:nth-child(4):checked ~ .tab-list .tab-item:nth-child(4) {
  opacity: 1;
}

/* tab bar */
.tab-toggle:nth-child(2):checked ~ .tab-list::before {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.tab-toggle:nth-child(3):checked ~ .tab-list::before {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.tab-toggle:nth-child(4):checked ~ .tab-list::before {
  -webkit-transform: translateX(300%);
          transform: translateX(300%);
}

.tab-toggle:nth-child(1):checked ~ .tab-container .tab-content:nth-child(1),
.tab-toggle:nth-child(2):checked ~ .tab-container .tab-content:nth-child(2),
.tab-toggle:nth-child(3):checked ~ .tab-container .tab-content:nth-child(3),
.tab-toggle:nth-child(4):checked ~ .tab-container .tab-content:nth-child(4) {
  display: block;
}

.tab-trigger {
  display: block;
  padding: 10px 0;
}

.skin-4 .num-in {
  float: left;
  width: 80px;
  padding: 8px 0;
}

.skin-4 .in-num {
  width: 47px;
  float: left;
  height: 36px;
  font-size: 30px;
  text-align: center;
  outline: none;
}

.skin-4 .all-span {
  position: relative;
  float: right;
  width: 23px;
  height: 36px;
  border-left: 1px solid #000;
}

.skin-4 .all-span span {
  float: left;
  width: 100%;
  height: 18px;
  position: relative;
  cursor: pointer;
}

.skin-4 .all-span span:before {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -5px;
}

.skin-4 span.minus:before {
  top: 3px;
  border-top: 5px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.skin-4 span.minus.dis:before {
  opacity: 0.5;
}

.skin-4 span.plus:before {
  bottom: 3px;
  border-bottom: 5px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

/* / skin 4 */
.my_awsome_ring p {
  margin-bottom: 0 !important;
}

.my_awsome_ring .list-group-item {
  border: none !important;
}

.my_awsome_ring .ringcategory .banner_add {
  background-image: url("../image/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 89px;
  margin: 30px;
  background-color: #ffffff;
  opacity: 0.5;
  border-radius: 10px;
  margin: 0 !important;
}

.my_awsome_ring .ringcategory img {
  max-width: 100%;
}

.rounded_circle {
  width: 20px;
  height: 20px;
  line-height: 40px;
  text-align: center;
}

.giftsec_img {
  position: relative;
}

.gift_text {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.438);
  /* Black background with 0.5 opacity */
  color: #000000;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.gift_text2 {
  padding-top: 250px;
}

.giftrow {
  position: relative;
}

.giftrow img {
  width: 100%;
}

.giftrow .giftfont {
  position: absolute;
  top: 50%;
  left: 26%;
}

.giftsec_img {
  position: relative;
}

.gift_text {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.438);
  color: #000000;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.gift_text2 {
  padding-top: 250px;
}

.product .sale {
  top: 4%;
  left: 6%;
  background-color: #eeeeee;
  color: #000000;
}

.buttons .btn {
  background-color: white;
  color: #010101;
  border: 1px solid #010101;
}

.buttons .btn:hover {
  background-color: white;
  color: #010101;
  border: 1px solid #010101;
}

.colors {
  color: #6f3939 !important;
}

.categoryimage img {
  max-width: 100%;
}

.awsomering_section img, .banner_section img {
  max-width: 100%;
}

.ringitem {
  color: #93691F;
}

.ringitem1 {
  color: #1063AF;
}

.gift_section .giftfont {
  position: absolute;
  top: 40%;
  left: 25%;
}

.gift_section .giftfont1 {
  position: absolute;
  top: 40%;
  right: 27%;
}

.form-select:focus {
  border-color: white;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media only screen and (max-width: 576px) {
  .gift_section .giftfont {
    position: absolute;
    top: 20%;
    left: 20%;
  }
  .gift_section .giftfont1 {
    position: absolute;
    top: 63%;
    right: 20%;
  }
}

@media only screen and (min-width: 768px) {
  .gift_section .giftfont {
    position: absolute;
    top: 35%;
    left: 10%;
  }
  .gift_section .giftfont1 {
    position: absolute;
    top: 35%;
    right: 10%;
  }
}

@media only screen and (min-width: 992px) {
  .gift_section .giftfont {
    position: absolute;
    top: 37%;
    left: 15%;
  }
  .gift_section .giftfont1 {
    position: absolute;
    top: 37%;
    right: 15%;
  }
}

@media only screen and (min-width: 1200px) {
  .gift_section .giftfont {
    position: absolute;
    top: 40%;
    left: 25%;
  }
  .gift_section .giftfont1 {
    position: absolute;
    top: 40%;
    right: 27%;
  }
}

.recent img {
  max-width: 100%;
}

.blogimage img {
  max-width: 100%;
}

.round {
  border-radius: 10px;
}

.fonts {
  color: #93691F;
}

.fonts a {
  text-decoration: none;
  color: #93691F;
}

.hrabout {
  border: 2px solid black;
}

.pagination .page-link {
  background-color: white;
  color: #93691F;
  border: 1px solid #93691E;
}

.page-link:hover {
  background-color: #93691F;
  color: white;
  border: none;
}

.page-item:not(:first-child) .page-link {
  margin-left: 1px;
}

.list-group-item {
  background-color: transparent;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #ced4da;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.category-banner img {
  -webkit-filter: opacity(40%);
          filter: opacity(40%);
}

.category-banner .collection-text {
  position: absolute;
  top: 25% !important;
  left: 0;
  right: 0;
}

.category-banner .bond_font {
  font-size: 48px;
}

.bg_shadow {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
}

.progress {
  border: none !important;
  color: red !important;
  background: red !important;
}

@media only screen and (max-width: 576px) {
  .category-banner img {
    -webkit-filter: opacity(40%);
            filter: opacity(40%);
  }
  .category-banner .collection-text {
    position: absolute;
    top: 2% !important;
    left: 0;
    right: 0;
  }
  .category-banner .bond_font {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .category-banner img {
    -webkit-filter: opacity(40%);
            filter: opacity(40%);
  }
  .category-banner .collection-text {
    position: absolute;
    top: 2% !important;
    left: 0;
    right: 0;
  }
  .category-banner .bond_font {
    font-size: 15px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .category-banner img {
    -webkit-filter: opacity(40%);
            filter: opacity(40%);
  }
  .category-banner .collection-text {
    position: absolute;
    top: 5% !important;
    left: 0;
    right: 0;
  }
  .category-banner .bond_font {
    font-size: 25px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .category-banner img {
    -webkit-filter: opacity(40%);
            filter: opacity(40%);
  }
  .category-banner .collection-text {
    position: absolute;
    top: 12% !important;
    left: 0;
    right: 0;
  }
  .category-banner .bond_font {
    font-size: 35px;
  }
}

/* category 4 css for text  */
.text-warning {
  color: #93691F !important;
}

.rate_star_category {
  position: relative;
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #93691E !important;
}

.rate_star_category:before {
  content: url("data:image/svg+xml,%3Csvg width='116' height='20' viewBox='0 0 116 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.14319 1.42372C9.53185 0.777902 10.4681 0.777901 10.8568 1.42372L13.0731 5.10651C13.2128 5.33853 13.4405 5.504 13.7043 5.56509L17.8918 6.53491C18.6261 6.70498 18.9154 7.59545 18.4213 8.16466L15.6036 11.4106C15.4261 11.6151 15.3391 11.8828 15.3625 12.1526L15.7342 16.4347C15.7994 17.1857 15.0419 17.736 14.3478 17.442L10.3901 15.7653C10.1408 15.6596 9.85924 15.6596 9.60991 15.7653L5.65216 17.442C4.95813 17.736 4.20065 17.1857 4.26582 16.4347L4.63745 12.1526C4.66087 11.8828 4.57387 11.6151 4.39637 11.4106L1.57871 8.16466C1.0846 7.59545 1.37393 6.70498 2.10824 6.53491L6.29567 5.56509C6.55948 5.504 6.78723 5.33853 6.92685 5.10652L9.14319 1.42372Z' fill='%23E3E0E0'/%3E%3Cpath d='M33.1432 1.42372C33.5319 0.777902 34.4681 0.777901 34.8568 1.42372L37.0731 5.10651C37.2128 5.33853 37.4405 5.504 37.7043 5.56509L41.8918 6.53491C42.6261 6.70498 42.9154 7.59545 42.4213 8.16466L39.6036 11.4106C39.4261 11.6151 39.3391 11.8828 39.3625 12.1526L39.7342 16.4347C39.7994 17.1857 39.0419 17.736 38.3478 17.442L34.3901 15.7653C34.1408 15.6596 33.8592 15.6596 33.6099 15.7653L29.6522 17.442C28.9581 17.736 28.2006 17.1857 28.2658 16.4347L28.6375 12.1526C28.6609 11.8828 28.5739 11.6151 28.3964 11.4106L25.5787 8.16466C25.0846 7.59545 25.3739 6.70498 26.1082 6.53491L30.2957 5.56509C30.5595 5.504 30.7872 5.33853 30.9269 5.10652L33.1432 1.42372Z' fill='%23E3E0E0'/%3E%3Cpath d='M57.1432 1.42372C57.5319 0.777902 58.4681 0.777901 58.8568 1.42372L61.0731 5.10651C61.2128 5.33853 61.4405 5.504 61.7043 5.56509L65.8918 6.53491C66.6261 6.70498 66.9154 7.59545 66.4213 8.16466L63.6036 11.4106C63.4261 11.6151 63.3391 11.8828 63.3625 12.1526L63.7342 16.4347C63.7994 17.1857 63.0419 17.736 62.3478 17.442L58.3901 15.7653C58.1408 15.6596 57.8592 15.6596 57.6099 15.7653L53.6522 17.442C52.9581 17.736 52.2006 17.1857 52.2658 16.4347L52.6375 12.1526C52.6609 11.8828 52.5739 11.6151 52.3964 11.4106L49.5787 8.16466C49.0846 7.59545 49.3739 6.70498 50.1082 6.53491L54.2957 5.56509C54.5595 5.504 54.7872 5.33853 54.9269 5.10652L57.1432 1.42372Z' fill='%23E3E0E0'/%3E%3Cpath d='M81.1432 1.42372C81.5319 0.777902 82.4681 0.777901 82.8568 1.42372L85.0731 5.10651C85.2128 5.33853 85.4405 5.504 85.7043 5.56509L89.8918 6.53491C90.6261 6.70498 90.9154 7.59545 90.4213 8.16466L87.6036 11.4106C87.4261 11.6151 87.3391 11.8828 87.3625 12.1526L87.7342 16.4347C87.7994 17.1857 87.0419 17.736 86.3478 17.442L82.3901 15.7653C82.1408 15.6596 81.8592 15.6596 81.6099 15.7653L77.6522 17.442C76.9581 17.736 76.2006 17.1857 76.2658 16.4347L76.6375 12.1526C76.6609 11.8828 76.5739 11.6151 76.3964 11.4106L73.5787 8.16466C73.0846 7.59545 73.3739 6.70498 74.1082 6.53491L78.2957 5.56509C78.5595 5.504 78.7872 5.33853 78.9269 5.10652L81.1432 1.42372Z' fill='%23E3E0E0'/%3E%3Cpath d='M105.143 1.42372C105.532 0.777902 106.468 0.777901 106.857 1.42372L109.073 5.10651C109.213 5.33853 109.441 5.504 109.704 5.56509L113.892 6.53491C114.626 6.70498 114.915 7.59545 114.421 8.16466L111.604 11.4106C111.426 11.6151 111.339 11.8828 111.363 12.1526L111.734 16.4347C111.799 17.1857 111.042 17.736 110.348 17.442L106.39 15.7653C106.141 15.6596 105.859 15.6596 105.61 15.7653L101.652 17.442C100.958 17.736 100.201 17.1857 100.266 16.4347L100.637 12.1526C100.661 11.8828 100.574 11.6151 100.396 11.4106L97.5787 8.16466C97.0846 7.59545 97.3739 6.70498 98.1082 6.53491L102.296 5.56509C102.559 5.504 102.787 5.33853 102.927 5.10652L105.143 1.42372Z' fill='%23E3E1E1'/%3E%3C/svg%3E%0A");
}

.rate_star_category:after {
  content: url("data:image/svg+xml,%3Csvg width='116' height='20' viewBox='0 0 116 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.14319 1.42372C9.53185 0.777902 10.4681 0.777901 10.8568 1.42372L13.0731 5.10651C13.2128 5.33853 13.4405 5.504 13.7043 5.56509L17.8918 6.53491C18.6261 6.70498 18.9154 7.59545 18.4213 8.16466L15.6036 11.4106C15.4261 11.6151 15.3391 11.8828 15.3625 12.1526L15.7342 16.4347C15.7994 17.1857 15.0419 17.736 14.3478 17.442L10.3901 15.7653C10.1408 15.6596 9.85924 15.6596 9.60991 15.7653L5.65216 17.442C4.95813 17.736 4.20065 17.1857 4.26582 16.4347L4.63745 12.1526C4.66087 11.8828 4.57387 11.6151 4.39637 11.4106L1.57871 8.16466C1.0846 7.59545 1.37393 6.70498 2.10824 6.53491L6.29567 5.56509C6.55948 5.504 6.78723 5.33853 6.92685 5.10652L9.14319 1.42372Z' fill='%23F7C305'/%3E%3Cpath d='M33.1432 1.42372C33.5319 0.777902 34.4681 0.777901 34.8568 1.42372L37.0731 5.10651C37.2128 5.33853 37.4405 5.504 37.7043 5.56509L41.8918 6.53491C42.6261 6.70498 42.9154 7.59545 42.4213 8.16466L39.6036 11.4106C39.4261 11.6151 39.3391 11.8828 39.3625 12.1526L39.7342 16.4347C39.7994 17.1857 39.0419 17.736 38.3478 17.442L34.3901 15.7653C34.1408 15.6596 33.8592 15.6596 33.6099 15.7653L29.6522 17.442C28.9581 17.736 28.2006 17.1857 28.2658 16.4347L28.6375 12.1526C28.6609 11.8828 28.5739 11.6151 28.3964 11.4106L25.5787 8.16466C25.0846 7.59545 25.3739 6.70498 26.1082 6.53491L30.2957 5.56509C30.5595 5.504 30.7872 5.33853 30.9269 5.10652L33.1432 1.42372Z' fill='%23F7C305'/%3E%3Cpath d='M57.1432 1.42372C57.5319 0.777902 58.4681 0.777901 58.8568 1.42372L61.0731 5.10651C61.2128 5.33853 61.4405 5.504 61.7043 5.56509L65.8918 6.53491C66.6261 6.70498 66.9154 7.59545 66.4213 8.16466L63.6036 11.4106C63.4261 11.6151 63.3391 11.8828 63.3625 12.1526L63.7342 16.4347C63.7994 17.1857 63.0419 17.736 62.3478 17.442L58.3901 15.7653C58.1408 15.6596 57.8592 15.6596 57.6099 15.7653L53.6522 17.442C52.9581 17.736 52.2006 17.1857 52.2658 16.4347L52.6375 12.1526C52.6609 11.8828 52.5739 11.6151 52.3964 11.4106L49.5787 8.16466C49.0846 7.59545 49.3739 6.70498 50.1082 6.53491L54.2957 5.56509C54.5595 5.504 54.7872 5.33853 54.9269 5.10652L57.1432 1.42372Z' fill='%23F7C305'/%3E%3Cpath d='M81.1432 1.42372C81.5319 0.777902 82.4681 0.777901 82.8568 1.42372L85.0731 5.10651C85.2128 5.33853 85.4405 5.504 85.7043 5.56509L89.8918 6.53491C90.6261 6.70498 90.9154 7.59545 90.4213 8.16466L87.6036 11.4106C87.4261 11.6151 87.3391 11.8828 87.3625 12.1526L87.7342 16.4347C87.7994 17.1857 87.0419 17.736 86.3478 17.442L82.3901 15.7653C82.1408 15.6596 81.8592 15.6596 81.6099 15.7653L77.6522 17.442C76.9581 17.736 76.2006 17.1857 76.2658 16.4347L76.6375 12.1526C76.6609 11.8828 76.5739 11.6151 76.3964 11.4106L73.5787 8.16466C73.0846 7.59545 73.3739 6.70498 74.1082 6.53491L78.2957 5.56509C78.5595 5.504 78.7872 5.33853 78.9269 5.10652L81.1432 1.42372Z' fill='%23F7C305'/%3E%3Cpath d='M105.143 1.42372C105.532 0.777902 106.468 0.777901 106.857 1.42372L109.073 5.10651C109.213 5.33853 109.441 5.504 109.704 5.56509L113.892 6.53491C114.626 6.70498 114.915 7.59545 114.421 8.16466L111.604 11.4106C111.426 11.6151 111.339 11.8828 111.363 12.1526L111.734 16.4347C111.799 17.1857 111.042 17.736 110.348 17.442L106.39 15.7653C106.141 15.6596 105.859 15.6596 105.61 15.7653L101.652 17.442C100.958 17.736 100.201 17.1857 100.266 16.4347L100.637 12.1526C100.661 11.8828 100.574 11.6151 100.396 11.4106L97.5787 8.16466C97.0846 7.59545 97.3739 6.70498 98.1082 6.53491L102.296 5.56509C102.559 5.504 102.787 5.33853 102.927 5.10652L105.143 1.42372Z' fill='%23F7C305'/%3E%3C/svg%3E%0A");
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% / 5 * var(--rating));
  overflow: hidden;
  -webkit-filter: contrast(50%);
          filter: contrast(50%);
}

.c4-img {
  width: 100%;
  padding: 10px 20px;
}

.billing_form .card img {
  width: 100%;
}

.line {
  line-height: 36px;
}

.policy {
  color: black;
  text-decoration: none;
}

.colors {
  background-color: #f2f2f2;
}

.form-select:focus {
  border-color: #ced4da;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn {
  background-color: white;
  color: #93691F;
  border: 1px solid #93691E;
}

.btn:hover {
  background-color: #93691F;
  color: white;
  border: none;
}

.leave {
  background-color: #93691F;
  color: white;
  border: none;
}

.leave:hover {
  background-color: white;
  color: #93691F;
  border: 1px solid #93691E;
}

.borderfix {
  border: solid 1px;
  border-color: #c9cccc;
  border-radius: 10px;
}

.borderfix img {
  border-radius: 10px;
}

.Recentwork img {
  width: 100%;
}

.Share li a {
  background-color: #93691F;
  color: white;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*=owl-] {
  color: black !important;
  font-size: 23px !important;
  margin: 0 !important;
  padding: 0 !important;
  background: none !important;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-next {
  position: absolute;
  top: 34%;
  right: -4%;
}

.owl-prev {
  position: absolute;
  top: 34%;
  left: -4%;
}

#button {
  display: inline-block;
  background-color: #D48B83;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color .3s,  opacity .5s, visibility .5s;
  transition: background-color .3s,  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button:hover {
  cursor: pointer;
  background-color: #B99F5E;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 576px) {
  .feature_section .describe {
    border-right: none !important;
  }
}

@media (max-width: 768px) {
  .feature_section .describe {
    border-right: none !important;
  }
}
/*# sourceMappingURL=main.css.map */