/* main project */

/* home page  */


.anchorlink a{ 
    text-decoration: none;
    color: #ffffff;

}

.themcolor{
    background-color: #111212;
    color: #ffffff;
}

.onlylink a{
    text-decoration: none;
    color: #ffffff;
}
:hover .onlylink a{
    text-decoration: none;
    color: #ffffff;
}

.allpading{
    padding: 30px 0px;
}


.title h1 {
    font-size: 20px;
    line-height: 140%;
    font-weight: 600;
}

.title h2 {
    font-size: 14px;
    line-height: 140%;
    font-weight: 600;
}


.light_border {
    border-bottom: 2px solid #f0f0f0;
    margin-bottom: 30px;
    text-align: center;
}

.headline h2 {
    font-size: 27px;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-bottom: 15px;
    bottom: -2px;
    border-bottom: 2px solid #505050;
}


.txt h5 {
    font-size: 18px;
    margin-top: 20px;
    font-weight: 700;
}

/* .txt span {
    font-size: 13px;
    font-weight: 500;
} */

   /* //mansi blog page// */
.box {
    overflow: hidden;
    border-radius: 10px;
    height: 300px;
    position: relative;
    box-shadow: 0 1.4px 1.7px rgba(0, 0, 0, 0.017), 0 3.3px 4px rgba(0, 0, 0, 0.024), 0 6.3px 7.5px rgba(0, 0, 0, 0.03), 0 11.2px 13.4px rgba(0, 0, 0, 0.036), 0 20.9px 25.1px rgba(0, 0, 0, 0.043), 0 50px 60px rgba(0, 0, 0, 0.06);
}
.box img{
    min-height: 100% !important;
}
.box .hide {
    opacity: 0;
}
.box .frame {
    position: absolute;
    border: 1px solid #fff;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box h2, .box p {
    position: absolute;
    color: #fff;
    z-index: 2;
    width: 100%;
    transition: opacity 0.2s, transform 0.3s;
}
.box h2 {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 0;
    letter-spacing: 1px;
}
.box p {
    bottom: 0;
    font-size: 14px;
    letter-spacing: 1px;
}
.box:hover {
    transition: all 0.3s ease-in-out;
}
.box:hover:before {
    transition: all 0.3s ease-in-out;
}
.box img {
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
.box img:hover {
    transition: all 0.3s ease-in-out;
}
.box img:after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}
.box img:hover {
    transition: all 0.3s ease-in-out;
}
.vintage h2 {
    top: 50%;
    transform: translate3d(0, 60px, 0);
    text-align: center;
}
.vintage p {
    opacity: 0;
    bottom: 0;
    transform: translate3d(0, -10px, 0);
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
}

.vintage:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, rgba(3, 3, 24, 0.8) 75%);
    z-index: 2;
    bottom: -100%;
    left: 0;
}
.vintage:hover:before {
    bottom: 0;
}
.vintage:hover h2 {
    bottom: 40px;
    transform: translate3d(0, 20px, 0);
}
.vintage:hover p {
    opacity: 1;
    transform: translate3d(0, -30px, 0);
}



/* footer */
footer .middle h5 {
    margin-bottom: 20px;  
  
} */
footer ul li {
    line-height: 30px;
}
footer ul li {
  list-style: none;
  text-align: left;
  line-height: 30px;

}

footer ul li a{
    text-decoration: none;
  }

.footer_font{
    color: #6c757d!important;
}

.social-menu ul{
    display:flex;
}
.social-menu ul li{
    list-style: none;
    margin: 0 5px;
}
.social-menu ul li .abc{
    font-size: 25px;
    line-height: 60px;
    transition: .6s;
    color:#000;
}

.social-menu ul li .abc:hover{
    background-color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    padding : 5px;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
   transform: translate(0, -10px);
}


/* singal page and welcm page */

figure {
	overflow: hidden;
    border-radius: 10px;
    height: 350px;
}
figure img{
    min-height: 100% !important;
}
/* Zoom In #1 */
.hover01 a {
    text-decoration: none;
    color: #111212;
}

.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
}

.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.hover_color img:hover {
    box-shadow: 0px 0px 20px rgb(40, 39, 39);
    transition: .6s;
}

.hover_color img {
    border-radius: 10px;
}

/* footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
} */


.has-error .form-control, .has-error .form-control:focus, .has-error .form-control:active,
.has-error .form-select, .has-error .form-select:focus, .has-error .form-select:active {
  border: 1px solid #ff0000;
  box-shadow: 0 0 2px #ff0000;
}

.nav-item:hover .dropdown-menu {
    display: block;
}